.container {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid black;
    width: 60rem;
    height: 60rem;
    margin: 7rem auto 7rem auto;
}

.container-child {
    box-sizing: border-box;
    width: calc(12.5% - 4px);
    height: calc(12.5% - 4px);
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    margin: 2px;
}
.container-child:hover {
    background-color: black;
}

.hero {
    display: flex;
    margin: 5rem auto 1rem auto;
    max-width: fit-content; 
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: #e2d3c3;
    padding: 1rem;
    border-radius: 1em;
}

#size, #color, #clear, #custom{
    padding: 1rem 2rem;
    border-radius: 0.35em;
    font-size: large;
    background-color: antiquewhite;
}

#size:hover, #color:hover, #clear:hover, #custom:hover{
    background-color: rgba(127, 245, 156, 0.973);
    scale: 1.09;
    color: white
}