body {
    background-color: #f6f6f6;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid black;
    width: 50rem;
    height: 50rem;
    margin: 3rem auto 7rem auto;
}

.container-child {
    box-sizing: border-box;
    width: calc(12.5% - 4px);
    height: calc(12.5% - 4px);
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    margin: 2px;
}
.container-child:hover {
    background-color: black;
}

.hero {
    display: flex;
    margin: 2rem auto 1rem auto;
    max-width: fit-content; 
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: #f1ece6;
    padding: 1rem;
    border-radius: 1em;
}

#size, #color, #clear, #custom, #random{
    padding: 1rem 2rem;
    border-radius: 0.35em;
    font-size: large;
    background-color: rgba(177, 168, 159, 0.781);
    color: rgb(255, 255, 255)
}

#size:hover, #color:hover, #clear:hover, #custom:hover, #random:hover{
    background-color: rgba(233, 176, 20, 0.973);
    scale: 1.09;
    color: white
}